{% extends "d_base.html" %}
{% block title%}  {% endblock %}
{% block navbar%}

<link rel="stylesheet" href= "static/css/disaster_e.css">
  <h2>Choose the following years: </h2>
  <a href="/charts_e2016" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">2016</a>
<br>
  <a href="/charts_e2017" class="btn btn-success btn-lg active" role="button" aria-pressed="true">2017</a>
  <br>
  <a href="/charts_e2018" class="btn btn-danger btn-lg active" role="button" aria-pressed="true">2018</a>


  
{% endblock %}

{% block body %}
 
{% endblock %}





