{% extends "d_base.html" %}

{% block title%}  {% endblock %}
{% block navbar%}
<h2>Click on a button down below to show a chart of how many disasters happened throughout a year: </h2>

<a href="/charts_e" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Earthquakes</a>
<a href="/charts_h" class="btn btn-success btn-lg active" role="button" aria-pressed="true">Hurricanes</a>
<a href="/charts_f" class="btn btn-danger btn-lg active" role="button" aria-pressed="true">Wildfires</a>
<a href="/charts_s" class="btn btn-warning btn-lg active" role="button" aria-pressed="true">Waves Sources</a>
<br>




<img src="static/images/wsources.jpg" width = "900" height = "400" alt = "ND" class = "center">
{% endblock %}
