{% extends "d_base.html" %}
{% block title%}  {% endblock %}
{% block navbar%}

<a href="/earthquakes" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Earthquakes</a>
<a href="/hurricanes" class="btn btn-success btn-lg active" role="button" aria-pressed="true">Hurricanes</a>
<a href="/wildfires" class="btn btn-danger btn-lg active" role="button" aria-pressed="true">Wildfires</a>
<a href="/wsources" class="btn btn-warning btn-lg active" role="button" aria-pressed="true">Waves Sources</a>
<a href="/winfo" class="btn btn-info btn-lg active" role="button" aria-pressed="true">Waves info</a>
<a href="/WD" class="btn btn-light btn-lg active" role="button" aria-pressed="true">World Disasters</a>


<h3>Flooding, Hurricanes, Tsunamis, Earthquakes and Wildfires</h3>
<img src="static/images/earthquake.jpg" width = "900" height = "400" alt = "ND" class = "center">
{% endblock %}
