{% extends "d_base.html" %}
{% block title%}  {% endblock %}
{% block navbar%}
<a href="/earthquakes" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Earthquakes</a>
<a href="/hurricanes" class="btn btn-success btn-lg active" role="button" aria-pressed="true">Hurricanes</a>
<a href="/wildfires" class="btn btn-danger btn-lg active" role="button" aria-pressed="true">Wildfires</a>
<a href="/wsources" class="btn btn-warning btn-lg active" role="button" aria-pressed="true">Waves Sources</a>
<a href="/winfo" class="btn btn-info btn-lg active" role="button" aria-pressed="true">Waves info</a>
<a href="/WD" class="btn btn-light btn-lg active" role="button" aria-pressed="true">World Disasters</a>
<br>

<img src="static/images/earthquake.jpg" width = "900" height = "400" alt = "ND" class = "center">
<br>
<a href="/earthquakes_Update" class="btn btn-info  btn-lg active" role="button" aria-pressed="true">Update</a>
<a href="/earthquakes_Delete" class="btn btn-danger btn-lg active" role="button" aria-pressed="true">Delete</a>
{% endblock %}

{% block body %}
  <div>
    <form method = "GET"> 
        <label>Id</label>
        <br/>
        <input style="display:inline-block;" type = "text" name = "Id"/>
        <br/>
        <label>Year</label>
        <br/>
        <input style="display:inline-block;" type = "text" name = "Year"/>
        <br/> 
        <label>Month</label>
        <br/>
        <input type = "text" name = 'Month'/>
        <br/>
        <label>Day</label>
        <br/>
        <input type = "text" name = "Day"/>
        <br/>
        <label>Time</label>
        <br/>
        <input style="display:inline-block;" type = "text" name = "Time"/>
        <br/>
        <label>Latitude</label>
        <br/>
        <input style="display:inline-block;" type = "text" name = "Latitude"/>
        <br/> 
        <label>Longitude</label>
        <br/>
        <input type = "text" name = 'Longitude'/>
        <br/>
        <label>Type</label>
        <br/>
        <input type = "text" name = "Type"/>
        <br/>
        <label>Depth</label>
        <br/>
        <input style="display:inline-block;" type = "text" name = "Depth"/>
        <br/>
        <label>Magnitude</label>
        <br/>
        <input style="display:inline-block;" type = "text" name = "Magnitude"/>
        <br/> 
        <label>Magnitude Type</label>
        <br/>
        <input type = "text" name = 'Magnitude Type'/>
        <br/>
        <label>Source</label>
        <br/>
        <input type = "text" name = "Source"/>
        <br/>
        <label>Location Source</label>
        <br/>
        <input style="display:inline-block;" type = "text" name = "Location Source"/>
        <br/> 
        <label>Magnitude Source</label>
        <br/>
        <input type = "text" name = 'Magnitude Source'/>
        <br/>
        <label>Status</label>
        <br/>
        <input type = "text" name = "Status"/>
        <br/>
        <button type = 'submit'>Update</button>
      </form>
          <table  class="table table-dark">
              <thead>
                  <tr>
                      <th scope="col">earthquakeId</td>
                      <td scope="col">e_date</td>
                      <td scope="col">e_time</td>
                      <td scope="col">e_latitude</td>
                      <td scope="col">e_longitude</td>
                      <td scope="col">e_type</td>
                      <td scope="col">e_depth</td>
                      <td scope="col">e_Magnitude</td>
                      <td scope="col">e_MagnitudeType</td>
                      <td scope="col">e_locationSource</td>
                      <td scope="col">e_Magnitude</td>
                      <td scope="col">e_Magnitude</td>
                  </tr>
              </thead>
              <tbody>
                  {% for s in data%}
                  <tr>

                    <td>{{s[0]}}</td>
                    <td>{{s[1]}}</td>
                    <td>{{s[2]}}</td>
                    <td>{{s[3]}}</td>
                    <td>{{s[4]}}</td>
                    <td>{{s[5]}}</td>
                    <td>{{s[6]}}</td>
                    <td>{{s[7]}}</td>
                    <td>{{s[8]}}</td>
                    <td>{{s[9]}}</td>
                    <td>{{s[10]}}</td>
                    <td>{{s[11]}}</td>
                    <td>{{s[12]}}</td>
                  </tr>
                {% endfor%}
                   
              </tbody>
          </table>
      </div>
{% endblock %}





