{% extends "base.html" %}
{% block title%}{% endblock %}
{% block navbar%}
<link rel="stylesheet" href= "static/css/styles.css">
<h3>Flooding, Hurricanes, Tsunamis, Earthquakes and Wildfires</h3>
{% endblock %}

{% block Buttons %}
<div>
    <form method="GET" action="#">
        <input type ="radio" name = "Query" id= "One" value="One" >
        <label>One</label>
        <br/>
        <input type ="radio" name = "Query" id= "One" value="Two" >
        <label>Two</label>
        <br/>
        <input type ="radio" name = "Query" id= "One" value="Three" >
        <label>Three</label>
        <br/>
        <input type ="radio" name = "Query" id= "One" value="Four" >
        <label>Four</label>
        <br/>
        <input type ="radio" name = "Query" id= "One" value="Five" >
        <label>Five</label>
        <br/>
        <input type ="radio" name = "Query" id= "One" value="Six" >
        <label>Six</label>
        <br/>
        <input name = 'Input' type ="submit" >
    </form>

    {% if result %}
        {% for res in result %}
            <p>{{r}}</p>
        {% endfor %}
    {% endif %}

</div>
{% endblock %}




<!-- <!DOCTYPE html>
<html>
<head> 
<title>Natural disaster</title> 
    </head>
    <body>
        <h1>Natural Disasters
        </h1>
        <h1>2016 - 2018</h1>
        {% for x in disaster %}
		        <p>{{x}}</p>
        {%endfor%}
    </body>
</html> -->