<!-- <!DOCTYPE html>
<html>
    <head>
        <title>
        HOME PAGE
        </title>
    </head>
    <body>
        <h1> HOme</h1>
        < PASSIG IN A ARGUMENT FROM THE BACKEND TO THE HTML CLIENT SIDE -->
        <!-- <p>{{content}}</p>
        <p>{{r}}</p>
        WRITING PYTHON CODE IN HTML FILE REQUIRES % AS PRETENCE -->
        <!-- {% for _ in range(10) %}
            <p>Hello</p>
        {% endfor %} -->


        <!-- NOW TO PRINT OUT ELEMENTS FROM THE DATA-->
        <!-- {%for x in content%}
            {% if x == "tim"%}
            <p>{{x}}</p>
            {%else%}

            {%endif%}
        {%endfor%}
    </body>
</html> --> 


<!-- VIDEO 3-->
{% extends "base.html" %}
{%block title %} Home Page {%endblock%}
{%block content%}
<h1>Test</h1>
{%endblock%}