{% extends "base.html" %}


{% block navbar %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages%}
            <p>{{msg}}</p>
        {% endfor %}
    {% endif %}
    {% if result %}
        {% for res in result %}
            <p>{{res[1]}}</p>
        {% endfor %}
    {% endif %}
{% endwith %}
<form  method = "post">
    <p>Name:</p>
    <p><input type = "text" name ="nm"/> </p>
    <input type = "email" name = "email" placeholder = "Enter email" value = "{{email if email}}"/>
    <br/>
    <button value="Submit" > Submit</button>
</form>
{% endblock %}