{% extends "base.html"%}
{% block title %} Login Page {% endblock %}

<!-- WHEN COMPLETING A FORM YOU MUST ALWAYS SPECIFY THE ACTION, MEANTING WHAT TYPE OF REGQUEST IT CAN BE-->
{% block content %}
<!-- Flashing Messages-->

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
        <p>{{msg}}</p>
        {% endfor %}
    {% endif %}
{% endwith%}

<!-- # MEANS THAT YOU WILL BE REDIRECTED TO THE SAME PAGE-->
<form action = "#"> 
    <p>Name:</p>
    <p><input type = "text" name = "nm"/></p>
    <p><input type="submit" value = "submit"/></p>
</form>
{% endblock %}