{% extends "d_base.html" %}

{% block title%}  {% endblock %}
{% block navbar%}

<a href="/earthquakes" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Earthquakes</a>
<a href="/hurricanes" class="btn btn-success btn-lg active" role="button" aria-pressed="true">Hurricanes</a>
<a href="/wildfires" class="btn btn-danger btn-lg active" role="button" aria-pressed="true">Wildfires</a>
<a href="/wsources" class="btn btn-warning btn-lg active" role="button" aria-pressed="true">Waves Sources</a>
<a href="/winfo" class="btn btn-info btn-lg active" role="button" aria-pressed="true">Waves info</a>
<a href="/WD" class="btn btn-light btn-lg active" role="button" aria-pressed="true">World Disasters</a>

<h3>Flooding, Hurricanes, Tsunamis, Earthquakes and Wildfires</h3>

<img src="static/images/winfo.jpg" width = "900" height = "400" alt = "ND" class = "center">
{% endblock %}

{% block body %}
    <div>
        <form method="GET">
            <label>Source Id</label>
            <br/>
            <input style="display:inline-block;" type = "text" name = "Source Id"/>
            <br/>
            <label>Wave Id</label>
            <br/>
            <input style="display:inline-block;" type = "text" name = "Wave Id"/>
            <br/>
            <label>Year</label>
            <br/>
            <input type = "text" name = 'Year'/>
            <br/>
            <label >Month</label>
            <br/>
            <input type = "text" name = "Month"/>
            <br/>
            <label>Day</label>
            <br/>
            <input type = "text" name = "Day"/>
            <br/>
            <label>Country</label>
            <br/>
            <input type = "text" name = "Country"/>
            <br/>
            <label>State</label>
            <br/>
            <input type = "text" name = "State"/>
            <br/>
            <label>Location</label>
            <br/>
            <input type = "text" name = "Location"/>
            <br/>
            <label>Latitude</label>
            <br/>
            <input type = "text" name = "Latitude"/>
            <br/>
            <label>Distance From Source</label>
            <br/>
            <input type = "text" name = "Distance From Source"/>
            <br/>
            <label>Travel Time Hours</label>
            <br/>
            <input type = "text" name = "Travel Time Hours"/>
            <br/>
            <label>Travel Time Minutes</label>
            <br/>
            <input type = "text" name = "Travel Time Munutes"/>
            <br/>
            <label>Validity</label>
            <br/>
            <input type = "text" name = "Validity"/>
            <br/>
            <label>Unit</label>
            <br/>
            <input type = "text" name = "Unit"/>
            <br/>
            <label>Period</label>
            <br/>
            <input type = "text" name = "Period"/>
            <br/>
            <label>First motion</label>
            <br/>
            <input type = "text" name = "First motion"/>
            <br/>
            <label>Maximum Height</label>
            <br/>
            <input type = "text" name = "Maximum Height"/>
            <br/>
            <label>Horizontal inudation</label>
            <br/>
            <input type = "text" name = "Horizontal Inudation"/>
            <br/>
            <label>Injuries</label>
            <br/>
            <input type = "text" name = "Injuries"/>
            <br/>
            <label>Injury Estimate</label>
            <br/>
            <input type = "text" name = "Injury Estimate"/>
            <br/>
            <label>Fatalities</label>
            <br/>
            <input type = "text" name = "Fatalities"/>
            <br/>
            <label>Fatality Estimate</label>
            <br/>
            <input type = "text" name = "Fatality Estimate"/>
            <br/>
            <label>Damage Million Dollars</label>
            <br/>
            <input type = "text" name = "Damage Million Dollars"/>
            <br/>
            <label>Damage Estimate</label>
            <br/>
            <input type = "text" name = "Damage Estimate"/>
            <br/>
            <label>Houses Damaged</label>
            <br/>
            <input type = "text" name = "Houses Damaged"/>
            <br/>
            <label>Houses Damaged Estimate</label>
            <br/>
            <input type = "text" name = "Houses Damaged Estimate"/>
            <br/>
            <label>House Destroyed</label>
            <br/>
            <input type = "text" name = "House Destroyed"/>
            <br/>
            <label>House Destruction Estimate</label>
            <br/>
            <input type = "text" name = "House Destruction Estimate"/>
            <br/>
            <button type = 'submit'>Update</button>
        </form>

        <table  class="table table-dark">
            <thead>
                <tr>
                    <th scope="col">Year</th>
                    <th scope="col">Month</th>
                    <th scope="col">Day</th>
                    <th scope="col">State</th>
                    <th scope="col">Latitude</th>
                    <th scope="col">Distance from Source</th>
                    <th scope="col">Travel Time(In Munutes)</th>
                    <th scope="col">Location</th>
                </tr>
            </thead>
            <tbody>
                {% if result %}
                {% for r in result%}
                    <tr>
                        <th scope = 'row'>{{r[2]}}</th>
                            <td>{{r[3]}}</td>
                            <td>{{r[4]}}</td>
                            <td>{{r[6]}}</td>
                            <td>{{r[9]}}</td>
                            <td>{{r[10]}}</td>
                            <td>{{r[11]}}</td>
                            <td>{{r[8]}}</td>   
                    </tr>
                    {% endfor%}
                {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}